* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to top, #000014 -20%, #00123e, #000014, #000000);
  overflow: hidden;
}

img {
  width: 100%;
}

.container,
.man,
.carriage {
  --width: 9vw;
  --bottom: 6vh;
}

.container {
  position: absolute;
  left: calc(var(--i) * 5%);
  bottom: var(--bottom);
  width: var(--width);
  background: transparent;
  /* border: 1px solid white; */
}

.man {
  position: absolute;
  bottom: calc(var(--bottom) + 5vh);
  left: 38%;
  width: 5.35vw;
}

.carriage {
  position: absolute;
  bottom: calc(var(--bottom) + 6vh);
  left: 42%;
  width: calc(var(--width) * 2.5);
  z-index: -1;
}

.light {
  --glow: 12vw;
  --spread: 10vw;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 10px;
  background: yellow;
  border-radius: 50%;
  z-index: -1;
}

.container:nth-child(2) {
  left: calc(var(--i) * 30%);
  width: calc(var(--width) - 2.5vw);
  bottom: calc(var(--bottom) + 3vh);
}

.container:nth-child(3) {
  left: calc(var(--i) * 20%);
  width: calc(var(--width) - 5vw);
  bottom: calc(var(--bottom) + 6vh);
}

.light1 {
  box-shadow: 0 0 var(--glow) var(--spread) yellow;
}

.light2 {
  box-shadow: 0 0 calc(var(--glow) - 2vw) calc(var(--spread) - 3vw) yellow;
}

.light3 {
  box-shadow: 0 0 calc(var(--glow) - 1vw) calc(var(--spread) - 1vw) yellow;
}

.mist {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 1;
  padding: 0;
}

.mist span {
  display: block;
  position: relative;
  margin: 0 15px;
  min-width: 35px;
  height: 50px;
  background: #ccc;
  border-radius: 50%;
  opacity: 0;
  filter: blur(20px);
  animation: mist 25s linear infinite;
  animation-delay: calc(var(--i) * -0.75s);
}

@keyframes mist {
  0% {
    transform: translateX(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 0.5;
  }
  50% {
    transform: translateX(-120px) translateY(-60px) scaleX(8) scaleY(2);
    opacity: 0.5;
  }
  70% {
    opacity: 0.25;
  }
  100% {
    transform: translateX(150px) translateY(-120px) scaleX(16) scaleY(6);
  }
}
