:root {
  --red: #f15854;
  --gray: #4d4d4d;
  --blue: #5da5da;
  --yellow: #decf3f;
  --purple: #b276b2;
  --orange: #faa43a;
}

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: sans-serif;
  background-color: tan;
}

/* Chart styles */
.chart {
  background: conic-gradient(
    var(--red) 4%,
    var(--gray) 0 8%,
    var(--blue) 0 17%,
    var(--yellow) 0 48%,
    var(--purple) 0 54%,
    var(--orange) 0
  );
  border-radius: 50%;
  width: 50%;
  height: 0;
  padding-top: 50%;
  float: left;
  padding-right: 20px;
}

/* Key styles */
.key {
  width: 50%;
  float: right;
  list-style: none;
  display: table;
  border-collapse: separate;
}

.key > li {
  display: table-row;
}

.key > li > * {
  display: table-cell;
  border-bottom: 12px solid tan;
}

/* Percent styles */
.percent {
  color: white;
  padding: 10px 2px;
  text-shadow: 0 0 1px black;
  text-align: center;
}

/* Choice styles */
.choice {
  padding-left: 10px;
}

/* Color classes */
.red {
  background: var(--red);
}
.gray {
  background: var(--gray);
}
.blue {
  background: var(--blue);
}
.yellow {
  background: var(--yellow);
}
.purple {
  background: var(--purple);
}
.orange {
  background: var(--orange);
}
