
.icon-key:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e803'; } /* '' */
.icon-cog-alt:before { content: '\e804'; } /* '' */
.icon-ok-circle:before { content: '\e805'; } /* '' */
.icon-basket:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-clock:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-leaf:before { content: '\e80a'; } /* '' */
.icon-foursquare:before { content: '\e80b'; } /* '' */
.icon-ok-circled2:before { content: '\e80c'; } /* '' */
.icon-intensedebate:before { content: '\e80d'; } /* '' */
.icon-angellist:before { content: '\e80e'; } /* '' */
.icon-duckduckgo:before { content: '\e80f'; } /* '' */
.icon-thumbs-down:before { content: '\e810'; } /* '' */
.icon-emo-shoot:before { content: '\e811'; } /* '' */
.icon-giraffe:before { content: '\e81b'; } /* '' */
.icon-globe-inv:before { content: '\f019'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */