body {
  margin: auto 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpattern id='cuboid' width='20' height='16' patternUnits='userSpaceOnUse' patternTransform='scale(10 10)'%3E%3Cg class='top' fill='%23a7daeb'%3E%3Cpath d='M 0 0 L 10 4 L 15 2 L 5 -2 Z' /%3E%3Cpath d='M 5 8 L -5 12 L -11 10 L 0 6 Z' /%3E%3Cpath d='M 10 10 L 15 12 L 25 8 L 20 6 Z' /%3E%3Cpath d='M 5 14 L 15 18 L 10 20 L 0 16 Z' /%3E%3C/g%3E%3Cg class='right' fill='%233a4e55'%3E%3Cpath d='M 10 4 V 10 L 20 6 V 0 Z' /%3E%3Cpath d='M 5 8 V 14 L -5 18 V 12 Z'/%3E%3Cpath d='M 15 12 V 18 L 25 14 V 8 Z' /%3E%3Cpath d='M 15 2 V -4 L 25 -8 V -2 Z' /%3E%3C/g%3E%3Cg class='left' fill='%23648499'%3E%3Cpath d='M 10 4 V 10 L 0 6 V 0 Z' /%3E%3Cpath d='M 5 8 L 15 12 V 18 L 5 14 Z' /%3E%3Cpath d='M 15 2 L 5 -2 V -8 L 15 -4 Z' /%3E%3C/g%3E %3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23cuboid)' /%3E%3C/svg%3E");
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
}
h1 {
  color: #3a4e55;
  text-align: center;
}
.glassContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  background-image: linear-gradient(
    -45deg,
    rgba(197, 248, 255, 0.5),
    rgba(197, 248, 255, 0.35),
    rgba(197, 248, 255, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  max-width: 400px;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
/* only seems to work for this size */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #648499;
  border: 1px solid #a7daeb;
  transition: 300ms;
  /* 	background-repeat: no-repeat;
  background-size: 100% 100%; */
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border: 1px solid #3a4e55;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(197, 248, 255);
  border-radius: 2px;
}
