.container {
    width: 1170px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.text-orange {
    color: #f1ad1d;
}
.section-title {
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.slogan-title {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.section-description {
    font-family: 'Lato', sans-serif;
    color:  #4d4943;
    font-size: 17px;
    text-align: center;
    margin-bottom: 57px;
}

.under_line::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 52px auto 0;
}

.orange-btn {
    display: inline-block;
    background: #f1ad1d;
    color: #ffffff;
    padding: 20px 27px ;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

}
/*HEADER START*/
.header {
    background-image: url(../images/very_top_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 145px;
}
.header-company-name {
    font-family: 'Montserrat', sans-serif;
    color:  #fff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.header-company-description {
    font-family: "Lato", sans-serif;
    color:  #fff;
    font-size: 18px;
    margin-bottom: 28px;
}
.header-slogan{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color:  #fff;
    font-size: 54px;
    font-weight: 700;
    padding: 44px 43px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);
}
/* HEADER END*/

/*ABOUT US START*/

.about-us {
    padding-top: 69px;
    padding-bottom: 95px;
}
.about-us-awards {
    text-align: center;
}

.about-us-award {
    max-width: 100%;
}
/*ABOUT US END*/

/*NAVBAR START*/

.navbar-logo {
    float: left;
}

.navbar-logo img{
    max-width: 100%;
}

.navbar-nav{
    float: right;
    margin-top: 4px;
}

.navbar-nav-item{
    display: inline-block;
    margin-right: 70px;
}
.navbar-nav-link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    color: #3d3d3d;
    font-size: 18px;
}

.navbar-nav-link:hover {
    color:  #f1b128;
}

.navbar-nav-item:last-child {
    margin-right: 0;
}

.navbar-nav.under_line-long::after{
    content: "";
    display: block;
    width: 1169px;
    height: 3px;
    background-color: #f1ad1d;
    margin-top: 22px;
}
/*NAVBAR END*/

.about-us-lower {
    padding-top: 100px;
}

/*FEATURES START*/

.our-features {
    padding: 0 0 125px 0;
}

.features-list {
    float: left;
    width: 570px;
}

.features-item {
    position: relative;
    width: 270px;
    float: left;
    margin-bottom: 22px;
}

.features-item:nth-child(odd) {
    margin-right: 30px;
}

.mr30 {
    margin-right: 30px;
}

.features-name {
    width: 117px;
    position: absolute;
    background: #333333;;
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    box-sizing: border-box;
    padding: 15px;
    bottom: 11px;
    left: 13px;
}

.features-description{
    float: right;
    width: 569px;
}

.features-description-title{
    font-family: "Montserrat", sans-serif;
    color:  #333333;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 700;
    margin-bottom: 26px;
    text-transform: uppercase;
}

.features-description-text{
    font-family: 'Lato', sans-serif;
    color:  #505050;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 300;
    line-height: 22px;/* Approximation due to font substitution */
    text-align: justify;
    margin-bottom: 25px;
}
/*FEATURES END*/

/*SLOGAN-1 START*/

.slogan-section-1 {
    background-image: url(../images/slsc-1-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 151px 0;
}
/*SLOGAN-1 END*/

/*OUR TEAM START*/

.our-team{
    padding-top: 114px;
    padding-bottom: 104px;
}

.team-person{
    position: relative;
    width: 193px;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

.team-person-img{
    max-width: 100%;
}

.team-person:nth-child(6n){
    margin-right: 0;
}

.team-person-name{
    position: absolute;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    background-color:  #333333;
    width: 136px;
    padding: 15px;
    bottom: 15px;
    left: 14px;
}

.team-person-link{
    text-decoration: none;
}
/*OUR TEAM END*/

/*OUR SERVICES START*/

.our-services{
    padding: 104px 0;
}

.services-item{
    float: left;
    width: 271px;
    margin-right: 28px;
    text-align: center;
    padding-bottom: 34px;
    height: 335px;
    border-bottom: 3px solid #333333;
}

.services-item:nth-child(4n){
    margin-right: 0;
}

.service-name{
    padding: 19px 5px;
    text-align: center;
    background-color:  #333333;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 700;
    margin-bottom: 30px;
}

.service-img {
    height: 50px;
    margin-bottom: 29px;
    line-height: 50px;
}

.service-description {
    font-family: "Lato", sans-serif;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    height: 90px;
    position: relative;
    margin-bottom: 30px;
}

.service-description::after {
    content:"";
    width: 64px;
    height: 3px;
    display: block;
    background-color:#f1ad1d; 
    position: absolute;
    bottom: 0;
    left: 94px;
}

.service-offer {
    font-family: Lato;
    color: #505050;
    font-size: 14px;
    margin-bottom: 6px;
}
/* OUR SERVICES END*/

/* SUBSCRIPTION FIELD START*/

.email-subscription {
    text-align: center;
    padding-top: 132px;
    padding-bottom: 8px;
}

.subscription-field {
    border-style: solid;
    border-width: 1px;
    border: 1px solid;
    width: 598px;
    padding: 25px 30px;
    color: #747474;
    font-size: 18px;
    font-style: italic;
}

.form-orange-btn {
    background-color: #f1ad1d;
    padding: 25px 47px;
    font-family: "Lato" sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700; 
}
/* SUBSCRIPTION FIELD END*/
