* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ff9090;
  background-image: radial-gradient(at center 20%, #f19e9e, #ff9090);
}

/* it is a hole */
#sphere {
  --size: 5em;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  background: black;
  box-shadow: 0 0.2em 0.1em rgba(255, 255, 255, 0.3), 0 -0.2em 0.4em rgba(0, 0, 0, 0.6);
}

#sphere:hover::after {
  animation-play-state: paused;
}

/* it is a ball */
#sphere::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background: #a02a2a;
  background-image: radial-gradient(at center 20%, #fdcfcf, #a02a2a);
  box-shadow: inset 0 -2em 1em rgba(0, 0, 0, 0.4), inset 0 0.3em 0.5em rgba(0, 0, 0, 0.4) 0 0 0 rgba(0, 0, 0, 0.6);

  opacity: 0.8;
  transform: scale(0.8);

  animation: 0.7s ease-in infinite pop-out;
}

@keyframes pop-out {
  20% {
    opacity: 1;
    box-shadow: inset 0 -2em 1em rgba(0, 0, 0, 0.4), inset 0 0 0 transparent, 0 1em 0.1em rgba(0, 0, 0, 0.3);
  }
  25% {
    transform: translateY(-0.5em) scale(1);
    box-shadow: inset 0 -2em 1em rgba(0, 0, 0, 0.4), inset 0 0 0 transparent, 0 2em 0.4em rgba(0, 0, 0, 0.3);
  }
  60% {
    filter: url("#blur");
    box-shadow: inset 0 -2em 1em rgba(0, 0, 0, 0.4), inset 0 0 0 transparent, 0 5em 2em rgba(0, 0, 0, 0.3);
  }
  to {
    filter: url("#blur");
    opacity: 1;
    transform: translateY(60vh) scale(1.2);
    box-shadow: inset 0 -2em 1em rgba(0, 0, 0, 0.4), inset 0 0 0 transparent, 0 5em 2em rgba(0, 0, 0, 0.3);
  }
}